
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

/*======================================================================================================================================*/

marquee{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  direction: ltr;
  background-color:#4CAF50 ;
}
body{
  background-color: #4CAF50;
  background-image: url(../images/bg-page.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover ;
  
}
/*homepage styling-------------------------------------------------------------------------------------------------------------------*/
#header{
  color: #2802fd;
  font-family: Raleway;
}
/*navbar styling----------------------------------------------------------------------------------------------------------------------*/
.navbar{
  position: fixed;
  top: 18px;
  right: 0;
  left: 0;
}


.navbar{
  font-family: Raleway;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}


.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
}


.navbar-links li a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover{
  background-color: #555;
}

.toggle-button{
  position: sticky;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


#menuToggle{
  display: none;
}




.mainlep{

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: 50%;
  border-radius: 12px;
}
.subHead{
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  text-align: center;
  font-family: Raleway;
}





/*content styling---------------------------------------------------------------------------------------------------------------*/



.content{
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    padding-bottom: 30px;
  }
.para1{
  background:url(../images/bg-page.gif) no-repeat center 0;
	height:auto;
	width:auto;
	margin:0 auto;   
  }

.imagesHome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#img{  
   width: 50%;
 }


.animals , .plants{
  height: auto;
  width: auto;
  text-align: center;
}
.subp1{
  font-family: Raleway;
  width: 80%;
  margin: 0 auto;
  height: auto;
  padding-bottom: 30px;
  font-size: 20px;
}



/*footer----------------------------------------------------------------------------------------------------------------------------*/



.footer{
  background-color: rgb(95, 95, 95);
  font-family: 'Shadows Into Light Two', cursive;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 5fr 1fr;
  grid-template-areas:
  "iframe middle1 footerdl"
  "copyright middle1 footerdl" ;
  justify-content:space-between;
}
#iframe1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ddd;
  padding: 10px 10px 10px 10px;
  grid-area: iframe;
}
map{
  width: auto;
}
#footerdl{
  font-family: Raleway;
  color: #ddd;
  padding: 10px 10px 10px 10px;
  font-size: 1.2em;
  grid-area: footerdl;
}
.middle{
  font-size: 30px;
  color: aliceblue;
  grid-area: middle1;
}

.footera a:link, .footera a:visited {
  background-color: white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
}

.footera a:hover, .footera a:active {
  background-color: rgb(69, 175, 69);
}
.copyright{
  font-family: Raleway;
  margin-left: 6%;
  font-size: 14px;
  grid-area: copyright;

}
#email{
  color: orangered;
}
/*Styling for Animal And PLants HTM-------------------------------------------------------------------------------------------L*/
#APHead{
  padding-top: 9%;
  font-size: 40px;
}

.APsubHead{
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  text-align: left;
  margin-left: 10%;
  font-family: Raleway;
}
#AsubHead{
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  text-align: left;
  margin-left: 13%;
  font-family: Raleway;
  text-decoration: underline;
}
.photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 12px;
}
.tablePhoto{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10%;
  
}
table{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
table, th, td{
  border: 3px solid  black;
  border-collapse: collapse;
}



/*Donate Page-------------------------------------------------------------------------------------------------------------------*/
/*.maindon{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 3fr 1fr;
  grid-template-areas:
    "peacock"
    "donpara"
    "donInfo" ;
}*/


#peacock{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 80%;
  border-radius: 12px;
  grid-area: peacock;
}

#donpara{
  grid-area: donpara;
}

#donateHead{
  font-family: Raleway;
  text-shadow: 2px 2px 5px #7761f3;
  color: #2802fd;
  font-size: 225%;
  text-align: center;
}
.donInfo{
 margin-left: 40px;
 margin-right: 40px;

}
/*Activity====================================================================================================================*/
.container{
  margin-left: auto;
  margin-right: auto;
  background-color: papayawhip;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: end;

}

.layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "openHours pinmap"
  "ticket pinmap";
}
#openHours{
  grid-area: openHours;
}
#ticket{
  grid-area: ticket;
}
#pinmap{
  grid-area: pinmap;
}
.twoLink{
  font-family: Raleway;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(31, 11, 105);
  color: white;
}

.twoLink a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.twoLink:hover{
  background-color: #555;
}


/*Contact Us styling----------------------------------------------------------------------------------------------------------------*/

.conH{
  text-align: center;
  font-size: 32px;
  font-family: Raleway;
  color: #4b0707;
}
form{
  margin-left: 10%;
}
.form2{
  display: none;
}
/*Other page---------------------------------------------------------------------------------------------------------------------------*/

#otherhead{
  padding-top: 8%;
  text-shadow: 2px 2px 5px #7761f3;
  color: #35210e;
  font-size: 225%;
  text-align: center;
  font-family: Raleway;
}

#leatherback{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: 50%;
  border-radius: 12px;
}

/*mobile version--------------------------------------------------------------------------------------------------------------------*/





/*Homepage-----------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width:600px) {

  .mainlep{
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
  }
  
  .tablePhoto{
    width: 80px;
  }
  .para1{
    width: 40%;
    font-size: 24px;
    text-align: left;
  }

  
}
/*footer*/
@media only screen and (max-width:600px){

  .footer{
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 1fr 0.8fr ;
    grid-template-areas: 
    "iframe"
    "footerdl"
    "middle1"
    "copyright";
  }

  .middle{
    text-align: center;
  }

  #map{
    margin-left: 10%;
  }
}
/*Donate page*/
@media only screen and (max-width:600px){
  
  .maindon{
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 1fr;
    grid-template-areas: 
    "peacock"
    "donpara"
    "donInfo";
  }

  #donpara{
    margin-top: -320px;
  
  }

  .donInfo{
    margin-left: 10%;
  }
 
}
/*Contact*/
/*@media only screen and (max-width:600px){
.conH{
  font-size: 36px;
}

}*/





html {
    background-color: #4CAF50;
}



*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/*Navbar===========================================================================================================*/
@media (max-width:900px){



    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    #menuToggle{
        display:unset;
    }
    #menuToggle{
        display: block;
        position: relative;
        top: 4px;
        left: 10px;
        
        z-index: 1;
        
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a{
      text-decoration: none;
      color: white;
      
      transition: color 0.3s ease;
    }

    #menuToggle a:hover{
      color: tomato;
    }


    #menuToggle input{
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      cursor: pointer;
      
      opacity: 0; 
      z-index: 2; 
      
      -webkit-touch-callout: none;
    }


    #menuToggle span{
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: white;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }

    #menuToggle span:first-child {
      transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }


    #menuToggle input:checked ~ span{
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: white;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }


    #menuToggle input:checked ~ span:nth-last-child(2){
      transform: rotate(-45deg) translate(0, -1px);
    }


    #menu{
      position: absolute;
      width: 300px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      
      background: rgba(51, 51, 51, 0.644);
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
  
      
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

    #menu li {
      padding: 10px 0;
      font-size: 22px;
    }

    #menuToggle input:checked ~ ul {
      transform: none;
    }
}


/*Activity mobile================================================================================================*/
@media only screen and (max-width:600px){
  .layout{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas: 
    "openHours"
    "ticket"
    "pinmap";
  }
}


/*Contact us======================================================================================================*/
@media only screen and (max-width:600px){
  .form1{
    display: none;
  }
  .form2{
    display: unset;
  }
}

/*Dona and purchase===================================================================================================*/
fieldset.border {
  width:250px;
}
textarea {
  width: 250px;
  box-sizing: border-box;
}
textarea {
  resize  : none;
}
#donation {
  width: 100px;
  display: inline-block;
  vertical-align: top;
}
input:focus, textarea:focus {
background   : lightgray;
outline      : none;
}
input:invalid {
  box-shadow: 0 0 1px 1px red;
}
